{% extends 'base.html.twig' %}

{% block body %}
<script src="{{ asset('js/Mesa.js')}}"></script>
<script src="{{ asset('js/reservas.js')}}"></script>
<div id="edificio" class="c-edificio">
        <div class="c-reserva">
            Fecha de la reserva
            <input type="text" id="fecha" autocomplete="off" readonly>
            <button id="base" class="btn btn-secondary">Hoy</button>
            Número de jugadores
            <select id="jugadores">
                <option selected disabled>Seleccione una opción</option>
            </select>
            Juegos
            <div id="juegosReserva" class="c-juegos-reserva"></div>
            Hora
            <select id="tramo">
                <option selected disabled>Seleccione una opción</option>
            </select>
            {# <select id="mesas"></select> #}
            
            <input type="submit" class="btn btn-primary" id="btn" value="Reservar">
            <input type="submit" class="btn btn-warning" id="btn-atras" value="Reiniciar">
        </div>
        <div id="sala" class="c-sala"></div>
</div>
<div id="alert1" class="c-alert">
  <span class="c-closebtn">&times;</span>  
  <strong>¡Oh no!</strong> Ya existe una reserva para esta hora.
</div>
<div id="alert2" class="c-alert warning">
  <span class="c-closebtn">&times;</span>  
  <strong>¡Oye!</strong> El juego debe estar en una mesa con el tamaño adecuado.
</div>
<div id="alert3" class="c-alert warning">
  <span class="c-closebtn">&times;</span>  
  <strong>¡Oye!</strong> La mesa seleccionada no tiene suficientes sillas para ese juego.
</div>
<div id="alert4" class="c-alert success">
  <span class="c-closebtn">&times;</span>  
  <strong>¡Genial!</strong> Tu reserva se ha registrado correctamente.
</div>
{% endblock %}