{% extends 'base.html.twig' %}

{% block body %}
<script src="{{ asset('js/Mesa.js')}}"></script>
<script src="{{ asset('js/reservas.js')}}"></script>
<div id="edificio" class="c-edificio">
        <div class="c-reserva">
            Fecha de la reserva
            <input type="text" id="fecha" autocomplete="off" readonly>
            <button id="base" class="btn btn-secondary">Hoy</button>
            Número de jugadores
            <select id="jugadores">
                <option selected disabled>Seleccione una opción</option>
            </select>
            Juegos
            <div id="juegosReserva" class="c-juegos-reserva"></div>
            Hora
            <select id="tramo">
                <option selected disabled>Seleccione una opción</option>
            </select>
            {# <select id="mesas"></select> #}
            
            <input type="submit" class="btn btn-primary" id="btn">
        </div>
        <div id="sala" class="c-sala"></div>
</div>
{% endblock %}