.c-registro{
    margin-top: 10%;
    background: rgb(158,24,24);
    background: radial-gradient(circle, rgba(158,24,24,1) 0%, rgba(120,28,124,1) 100%);
    border-radius: 10px;
    
}

.c-form-registro__titulo{
    text-align: center;
    color:white;
}

.c-form-registro__row{
    display:grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.c-form-registro__col{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10%;
    padding-bottom: 2%;
    padding: 2%;
}
.c-form-registro__btn{
    display:flex;
    justify-content: center;
    width: 100%;
}

// .input-text-register{
//     width: 40%;
// }

.form-registro__label{
    color:white;
}