.navbar_img{
    width: 50px;
    height: 50px;
}

.navbar{
    background-color: black;
}

#login{
    background-color: transparent;
    border:transparent;
}

#registrarme{
    background-color: transparent;
    border:transparent;
}

.espaciado{
    width: 50px;
}

.nav-img-perfil{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

#nav-img-padding{
    padding:24px 0
}

.carousel-tamano{
    margin-top:10%;
    width: 80%;
    margin-left:10%;
    height: 30%;
}

#header-carousel{
    height: 30%;
}

body{
    background: rgb(164,211,255);
background: linear-gradient(90deg, rgba(164,211,255,1) 0%, rgba(255,147,147,1) 100%);;
}