// TABLA JUEGOS

.c-tablaJ{
    margin-top:150px;
    margin-left:15%;
}  

@media (max-width: 768px) {
    .c-tablaJ{
        margin-top:150px;
        margin-left:9%;
        font-size: 8px;
    }

    .c-tablaJ__descripcion{
        display:none;
    }

    th,td{
        padding:0px;
    }

    #c-tablaJ__img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 372px) {
    .c-tablaJ{
        margin-left:1%;
    }
}

#tabla-juegos{
    width: 80%;
}

.c-tablaJ__img{
    width: 50px;
    height: 50px;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}

th,td{
    padding:20px;
}

thead{
    background-color: black;
    color:#06A3DA;
}

.c-juegos-datos:nth-child(even){
    background-color: #8b5cf6;
    color:black;
}
.c-juegos-datos:nth-child(odd){
    background-color: #c4b5fd;
    color:black;
}

// MIS RESERVAS

.c-tablaRM{
    width: 80%;
    margin-top: 150px;
    // margin-left: 150px;
    margin-left:auto;
    margin-right:auto;
}

.c-tabla__datos:nth-child(even){
    background-color: #8b5cf6;
    color:black;
}
.c-tabla__datos:nth-child(odd){
    background-color: #c4b5fd;
    color:black;
}

@media (max-width: 550px) {
    .c-tablaRM{
        font-size: 10px;
        margin-top: 80px;
    }
}