.c-tabla{
    margin-top:150px;
    margin-left:15%;
    cursor: pointer;
}  

@media (max-width: 768px) {
    .c-tabla{
        margin-top:150px;
        margin-left:5%;
        font-size: 8px;
    }

    .c-tabla__descripcion{
        display:none;
    }

    th,td{
        padding:0px;
    }

    #c-tabla__img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 340px) {
    .c-tabla{
        margin-left:1%;
    }
}

#tabla-juegos{
    width: 80%;
}

.c-tabla__img{
    width: 50px;
    height: 50px;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}

th,td{
    padding:20px;
}

thead{
    background-color: black;
    color:#06A3DA;
}

.c-juegos-datos:nth-child(even){
    background-color: #8b5cf6;
    color:black;
}
.c-juegos-datos:nth-child(odd){
    background-color: #c4b5fd;
    color:black;
}