table{
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}

th,td{
    padding:20px;
    transition: all 0.5s;
}

th:hover{
    background-color: rgb(72, 72, 72);
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

thead{
    background-color: black;
    color:#06A3DA;
}

.c-tabla__datos:nth-child(even){
    background-color: #8b5cf6;
    color:black;
    transition: all 0.3s;
}
.c-tabla__datos:nth-child(even):hover{
    background-color: #662af2;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.c-tabla__datos:nth-child(odd){
    background-color: #c4b5fd;
    color:black;
    transition: all 0.3s;
}

.c-tabla__datos:nth-child(odd):hover{
    background-color: #8668ff;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}


// TABLA JUEGOS

.c-tablaJ{
    margin-top:150px;
    margin-left:15%;
}  

.c-tablaJM__td-imgInput{
    width: 200px;
}

@media (max-width: 768px) {
    .c-tablaJ{
        margin-top:150px;
        margin-left:9%;
        font-size: 8px;
    }

    .c-tablaJ__descripcion{
        display:none;
    }

    th,td{
        padding:0px;
    }

    #c-tablaJ__img{
        width: 20px;
        height: 20px;
    }
}

.c-tablaJM{
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}  

.c-tablaJM__td-img{
    width: 50px;
    height: 50px;
}

@media (max-width:992px){
    .c-tablaJM{
        font-size: 12px;
        margin-right: auto;
    }
    .c-tablaJM__td-imgInput{
        width: 120px;
        font-size: 10px;
    }
}

@media (max-width:773px){
    .c-tablaJM{
        font-size: 9px;
    }

    .c-tablaJM__td-imgInput{
        width: 80px;
        font-size: 8px;
    }

    .c-tablaJM__td-img{
        width: 25px;
        height: 25px;
    }

}

@media (max-width:580px){
    .c-tablaJM{
        margin-left:20px;
    }
    #c-tablaJM__th{
        text-align: center;
        padding: 2px;
    }
    .c-tablaJM__td{
        width: 70px;
    }

    #c-tablaJM__th-Img{
        display:none
    }

    .c-tablaJM__td-img{
        display:none;
    }
    .td-juegos-Img{
        display:none;
    }
    #juego_imagen{
        width: 100px;
    }

    .c-tablaJM__nombre{
        width: 80px;
    }
}

@media (max-width:387px){
    .c-tablaJM__td{
        width: 50px;
    }

}

@media (max-width: 372px) {
    .c-tablaJ{
        margin-left:1%;
    }
}

#tablaId{
    width: 80%;
}

.c-tablaJ__img{
    width: 50px;
    height: 50px;
}

// MIS RESERVAS

.c-tablaRM{
    width: 80%;
    margin-top: 150px;
    // margin-left: 150px;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width: 550px) {
    .c-tablaRM{
        font-size: 10px;
        margin-top: 80px;
    }
}

//EVENTOS

.c-tablaE{
    margin-top:150px;
    margin-left:15%;
    padding-bottom: 50px;
}  

.c-tablaE__img{
    width: 50px;
    height: 50px;
}

#tabla-eventos{
    width: 80%;
}