{% extends 'base.html.twig' %}

{% block body %}
<script src="{{ asset('js/Mesa.js')}}"></script>
<script src="{{ asset('js/sala.js')}}"></script>
<script src="{{ asset('js/distribuciones.js')}}"></script>
   
    <div id="edificio" class="c-edificio">
        <div class="c-opciones">
            <div class="c-disposiciones">
                Disposición de la sala: 
                <select id="selectDis">
                    <option selected disabled="true" id="default">Seleccione una fecha</option>
                </select>
                <button id="base" class="btn btn-primary">Base</button>
            </div>
            <div class="c-crea">
                Crear una Mesa:
                <label>Alto</label>
                <input type="text" class="c-crea__input" id="alto">
                <label>Ancho</label>
                <input type="text" class="c-crea__input" id="ancho">
                <label>Sillas</label>
                <input type="text" class="c-crea__input" id="sillas">
                <button class="btn btn-primary" id="crear">Crear mesa</button>
                Crear nueva disposicion:
                <input type="text" id="distribucionNueva" class="c-crea__input" autocomplete="off" readonly>
                <button class="btn btn-primary" id="crearDist">Crear disposicion</button>

            </div>
        </div>
        
        <div id="sala" class="c-sala">  
        
        </div>
        <div id="trastero" class="c-trastero">
        
        </div>
    </div>
{% endblock %}

