{% extends 'base.html.twig' %}

{% block title %}Crear un evento{% endblock %}

{% block body %}
<script src="{{ asset('js/evento.js')}}"></script>
<div class="container">
    <div class="c-formulario__p p-3">
                <div class="c-formulario__titulo"><h1 class="h3">Nuevo Evento</h1></div>
                    <div class="c-formulario__col">
                        <div>
                            <label class="c-formulario__label">Nombre</label>
                            <input type="text" id="nombreEvento" class="form-control">
        
                            <label class="c-formulario__label mt-2">Juego</label>
                            <select id="juegoEvento" class="form-control"></select>
 
                            <label class="c-formulario__label ">Fecha</label>
                            <input type="text" id="fechaEvento" class="form-control" readonly>
                        </div>
                        <div>
                            <label class="c-formulario__label mt-2">Hora</label>
                            <select id="juegoHora" class="form-control"></select>
                            
                            <label class="c-formulario__label mt-2">Número de asistentes</label>
                            <input type="number" id="asistentesEvento" class="form-control">

                            <label class="c-formulario__label mt-2">Asistentes</label>
                            <select id="nAsistentesEvento" class="form-control" multiple></select>
                        </div>
                    </div>
                <div class="c-formulario__btn">
                    <button class="btn btn-primary" id="btnEvento">Crear evento</button>
                </div>       
            </div>
    <div id="alert" class="c-alert success">
        <span class="c-closebtn">&times;</span>  
        <strong>¡Genial!</strong> El evento se ha creado correctamente.
    </div>
</div>
{% endblock %}